{
  parser: "babel-eslint",
  extends: "airbnb",
  plugins: [
    "react"
  ],
  env: {
    browser: true,
    mocha: true,
    node: true
  },
  rules: {
    consistent-return: "warn",
    no-bitwise: "off",
    prefer-promise-reject-errors: "warn",
    react/forbid-prop-types: "warn",
    react/require-default-props: "warn"
  },
}
