/coverage
/demo/dist
/es
/lib
node_modules
/umd
npm-debug.log*
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_esm
.rts2_cache_umd
dist
.cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
